{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "semi": false,
  "trailingComma": "es5",
  "useTabs": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "interface",
    "<THIRD_PARTY_MODULES>",
    "(?=content|api)",
    "slices/",
    "context/",
    "config",
    "utils/",
    "hooks/",
    "common/",
    "components/",
    ".svg",
    "^../(.*)$",
    "(?=./*.module.scss)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}