.container {
  padding-top: 120px;
}
.tableContainer {
  width: 50% !important;
  margin: 0 auto;

  a {
    color: black;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: #1976d2;
    }
  }
}