@import 'src/SCSS/variables';

.wrapper {
  padding-top: 120px;
}

.mainTable {
  width: 50% !important;
  max-width: 690px;
  margin: 0 auto;

  border: 1px solid $grey;
  border-bottom: none;
  border-collapse: collapse;

  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;

  &__head {
    padding: 5px;
  }
  &__data {
    padding: 10px 5px ;
    border-bottom: 1px solid $grey;
  }

  &__navLink {
    color: black;

    cursor: pointer;

    text-decoration: none;

    &:hover {
      color: #1976d2;

      text-decoration: underline;
    }
  }
}


@media (max-width: 480px) {
  .mainTable {
    font-size: 12px;

    button {
      min-width: 50px ;
      padding: 5px;
    }
  }

}
@media (max-width: 960px) {
  .mainTable {
    width: 90% !important;
  }

}