.container {
  padding-top: 120px;
}

.tableContainer {
  width: 50% !important;
  max-width: 690px;
  margin: 0 auto;

  a {
    color: black;

    cursor: pointer;

    text-decoration: none;

    &:hover {
      color: #1976d2;

      text-decoration: underline;
    }
  }
}


@media (max-width: 960px) {
  .tableContainer {
    width: 90% !important;
  }

}