@import 'src/SCSS/variables';

.container {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;

  background-color: $secondaryColor;
  color: $mainColor;

  padding: 0 20px;
}

.popularCurrBlock {
  display: flex;
}

.currBlock {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;

  h6 {
    font-size: 20px;
    margin: 0;
  }

  p {
    margin: 0;
    font-weight: 300;
  }
}

.profileBlock {
  display: flex;
  justify-content: right;

  h6 {
    margin: auto 5px auto 15px;
    font-size: 15px;
  }

  p {
    margin: auto 5px auto 0;
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .currBlock {
    display: none;
  }
}